* {
    box-sizing: border-box;
}
body {
    max-height: 100%;
    color: rgb(10, 30, 66);
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

}
.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    
}

.glass {
    text-align: center;
    max-width: 70%;
    min-width: 50%;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1rem;
}
header.glass {
    font-family: 'Comfortaa', cursive;
    margin-top: 2rem;
    font-size: 0.7rem;
    letter-spacing: 0.2ch;
    color: rgb(11, 77, 138);
}

main.glass {
    min-height: 40vh;
    text-align: left;
    gap: 1rem;
}

.emText {
    display: block;
    font-size: 2.4rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.wins, main.glass, .tech {
    display: flex;
}

.wins, .tech {
    flex-direction: column;
    font-size: 0.9rem;
    color: black;
    
}

.liItems {
    padding: 0.25rem;
        display: flex; 
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deleteButton {
    background-color: rgba(255, 250, 240, 0);
    color: rgb(39, 39, 39);
    text-align: center;
    border: none;
    font-size: 0.5rem;

}
.deleteButton:hover {
    color: rgb(92, 64, 64);
    font-size: .9rem;
}
section {
    display: flex;
    align-items: space-between;
    width: 100%;
    clear:both;
}
footer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-bottom: 1rem;
}

form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.footerlinks {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.link {
    color: black;
}